{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}

    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="{% url 'make_order' order.pk %}">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h3 class="checkout__title">Детайли на поръчката</h3>
                            <div class="card">
                                <div class="card-header">
                                    Информация за доставка
                                </div>
                                <div class="card-body">
                                    <p class="card-text mb-1"><b>Име: </b>{{ order.full_name }}</p>
                                    <p class="card-text mb-1"><b>Адрес: </b>{{ order.address }}</p>
                                    <p class="card-text mb-1"><b>Град: </b>{{ order.city }}</p>
                                    <p class="card-text mb-1"><b>Телефон: </b>{{ order.phone }}</p>
                                    <p class="card-text mb-1"><b>Номер на поръчка: </b>{{ order.order_number }}</p>
                                    {% if order.order_note %}
                                        <p class="card-text mb-1"><b>Допълнителна информация: </b>{{ order.order_note }}
                                        </p>
                                    {% endif %}
                                    <p class="card-text mb-1"><b>Общо: </b>{{ total |floatformat:2 }}$</p>
                                </div>
                            </div>
                            <br>
                            <div class="card">
                                <div class="card-header">
                                    Поръчани продукти
                                </div>
                                <div class="card-body">

                                    <div class="shopping__cart__table">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Снимка</th>
                                                <th>Име на продукта</th>
                                                <th>Количество</th>
                                                <th>Общо</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for cart_item in cart_items %}
                                                <tr>
                                                    <td class="product__cart__item"
                                                        style="width: 150px; word-wrap: normal">
                                                        <div class="product__cart__item__pic">
                                                            <img src="{{ cart_item.product.image.url }}"
                                                                 alt="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="product__cart__item__text">
                                                            <h6><a class="title text-dark"
                                                                   href="{% url 'product_details' cart_item.product.pk %}">{{ cart_item.product.product_name }}</a>
                                                            </h6>
                                                            {% if cart_item.variations.all %}
                                                                {% for item in cart_item.variations.all %}
                                                                    <span class="mt-1 text-dark">{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}</span>
                                                                    <br>
                                                                {% endfor %}
                                                            {% endif %}
                                                            <h5>{{ cart_item.product.price | floatformat:2 }} лв.
                                                            </h5>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="quantity">
                                                            <div class="input-group-prepend">
                                                                <input style="width: 25%; border: none; text-align: center"
                                                                       type="text"
                                                                       value="{{ cart_item.quantity }}">
                                                            </div>

                                                            <div class="input-group-append">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="cart__price">
                                                        {{ cart_item.sub_total | floatformat:2 }} лв.
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="row d-flex justify-content-center">

                                        <button class="site-btn" type="submit">Направи Поръчка</button>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <form action="{% url 'delete_order' order.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="col-6 text-center" style="max-width: 67%">
                        <button type="submit" class="btn btn-danger">Данните са сгрешени</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}