{% extends 'includes/navbar.html' %}
{% load static %}
{% block page_content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show container d-flex align-items-center justify-content-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="mb-0"><strong>Информация!</strong> {{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <h1>{{ created_object.order_number }}</h1>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <br>
    <br>
    <br>

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter=".new-arrivals">Нови придукти</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                {% for new_product in new_products %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ new_product.image.url }}">
                                <span class="label">Нов</span>
                                <ul class="product__hover">
                                    <li><a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'img/icon/compare.png' %}" alt="">
                                        <span>Compare</span></a></li>
                                    <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{ new_product.product_name }}</h6>
                                <a href="{% url 'product_details' new_product.pk %}" class="add-cart">Виж продукт</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>${{ new_product.price | floatformat:2 }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    {#    <section class="categories spad">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-lg-3">#}
    {#                    <div class="categories__text">#}
    {#                        <h2>Clothings Hot <br/> <span>Shoe Collection</span> <br/> Accessories</h2>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="categories__hot__deal">#}
    {#                        <img src="{% static 'img/product-sale.png' %}" alt="">#}
    {#                        <div class="hot__deal__sticker">#}
    {#                            <span>Sale Of</span>#}
    {#                            <h5>$29.99</h5>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 offset-lg-1">#}
    {#                    <div class="categories__deal__countdown">#}
    {#                        <span>Deal Of The Week</span>#}
    {#                        <h2>Multi-pocket Chest Bag Black</h2>#}
    {#                        <div class="categories__deal__countdown__timer" id="countdown">#}
    {#                            <div class="cd-item">#}
    {#                                <span>3</span>#}
    {#                                <p>Days</p>#}
    {#                            </div>#}
    {#                            <div class="cd-item">#}
    {#                                <span>1</span>#}
    {#                                <p>Hours</p>#}
    {#                            </div>#}
    {#                            <div class="cd-item">#}
    {#                                <span>50</span>#}
    {#                                <p>Minutes</p>#}
    {#                            </div>#}
    {#                            <div class="cd-item">#}
    {#                                <span>18</span>#}
    {#                                <p>Seconds</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <a href="#" class="primary-btn">Shop now</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    <!-- Categories Section End -->
    <hr>

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg"
                             data-setbg="{% static 'img/instagram/instagram-1.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg"
                             data-setbg="{% static 'img/instagram/instagram-2.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg"
                             data-setbg="{% static 'img/instagram/instagram-3.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg"
                             data-setbg="{% static 'img/instagram/instagram-4.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg"
                             data-setbg="{% static 'img/instagram/instagram-5.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg"
                             data-setbg="{% static 'img/instagram/instagram-6.jpg' %}"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Може да ни последвате в инстаграм профила ни <b><i>@male_fashion</i></b>, където ще намерите
                            информация относно модни трендове, както и ще видите първи най-новите ни модели</p>
                        <h3>@male_fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->
    <br>
    <br>
    <hr>

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Последни Новини</span>
                        <h2>Новите трендове в модата</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog/blog-1.jpg' %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> 2 Януари 2023</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Прочети повече</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog/blog-2.jpg' %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> 12 Януари 2023</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog/blog-3.jpg' %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> 8 Януари 2023</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

{% endblock %}