{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}
    {% include 'includes/alerts.html' %}
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <h2 style="text-align: center">Забравена парола</h2>
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-6 ">
                    <div class="contact__form">
                        <form action="{% url 'forgot_password' %}" method="POST">
                            {% csrf_token %}

                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <label class="form-label" for="form3Example3c">Имейл:</label>
                                    {{ form.email }}
                                </div>
                                <button type="submit" class="site-btn text-center">Изпрати</button>
                            </div>
                        </form>
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}