{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}
    {% include 'includes/alerts.html' %}
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <h2 style="text-align: center">Влизане</h2>
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-6 ">
                    <div class="contact__form">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}

                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <label class="form-label" for="form3Example3c">Имейл:</label>
                                    {{ form.username }}
                                </div>
                                <div class="col-lg-10">
                                    <label class="form-label" for="form3Example3c">Парола</label>
                                    {{ form.password }}
                                    <button type="submit" class="site-btn text-center">Влизане</button>
                                    <br>
                                    <br>
                                    <h6>Забравена парола? <b><a class="btn-link" href="{% url 'forgot_password' %}">Натисни тук</a></b>
                                    </h6>
                                </div>
                            </div>
                            {% if form.errors %}
                                {{ form.errors }}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}