{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show container d-flex align-items-center justify-content-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="mb-0"><strong>Информация!</strong> {{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <h2 style="text-align: center">Влизане</h2>
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-6 ">
                    <div class="contact__form">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}

                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <label class="form-label" for="form3Example3c">Имейл:</label>
                                    {{ form.username }}
                                </div>
                                <div class="col-lg-10">
                                    <label class="form-label" for="form3Example3c">Парола</label>
                                    {{ form.password }}
                                    <button type="submit" class="site-btn text-center">Влизане</button>
                                    <br>
                                    <br>
                                    <h6>Забравена парола? <b><a class="btn-link" href="{% url 'forgot_password' %}">Влизане</a></b></h6>
                                </div>
                            </div>

                            {% if form.errors %}
                                {{ form.errors }}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}