{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Профил</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Начало</a>
                            <span>Профил</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container emp-profile mt-5 mb-5">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{% static 'img/custom/user-g42eaf5fa5_640(1)(1).png' %}"
                             alt=""/>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <h2>Промяна на парола</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>ДЕЙСТВИЯ:</p>
                        <a class="text-dark" href="{% url 'profile' %}">Данни за акаунта</a><br/>
                        <a class="text-dark" href="{% url 'change_password' %}">Промяна на парола</a><br/>
                        <a class="text-dark" href="{% url 'logout' %}">Излизане</a><br/>
                        <br>
                    </div>
                </div>

                <div class="col-md-8">
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Текуща парола</label>
                            {{ form.old_password }}
                            <small id="emailHelp" class="form-text text-muted">Напишете паролата, с която влизате в
                                сайта.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Нова парола</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Потвърди парола</label>
                            {{ form.new_password2 }}
                        </div>

                        <button type="submit" class="btn btn-primary">Промени</button>
                        <br>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </form>
    </div>
{% endblock %}