{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Профил</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Начало</a>
                            <span>Профил</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container emp-profile mt-5 mb-5">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{% static 'img/custom/user-g42eaf5fa5_640(1)(1).png' %}"
                             alt=""/>
                    </div>
                </div>
                <div class="col-md-8 d-flex justify-content-center align-items-center">
                    <h2>Промяна на статус на поръчка #{{ object.order_number }}. Текущ статус: {{ object.status }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>ДЕЙСТВИЯ:</p>
                        <a class="text-dark" href="{% url 'profile' %}">Данни за акаунта</a><br/>
                        <a class="text-dark" href="{% url 'change_password' %}">Промяна на парола</a><br/>
                        <a class="text-dark" href="{% url 'logout' %}">Излизане</a><br/>
                        <br>
                    </div>
                </div>
                <div class="col-md-8">
                    <br>
                    <form action="{% url 'update_order' object.pk %}" method="POST">
                        {% csrf_token %}

                        <h5 class="d-flex p-2 bd-highlight">Избери статус: </h5>
                        <div class="form-group">
                            {{ form.status }}
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="site-btn">Промени</button>
                        <br>
                    </form>
                </div>
            </div>
        </form>
    </div>
{% endblock %}