{% autoescape off %}

    Здравейте, {{ order.user.name }},

    Поръчката с номер {{ order.order_number }} на стойност {{ order.order_total }}лв.
    е с нов статус - {{ order.status }}.

    {% if order.status == 'Приета' %}
        Наши колеги са приели вашата поръчка и в момента я обработват.Съвсем скоро
        ще бъде изпратена, като ще бъдете уведомени за това на този имейл.
    {% elif order.status == 'Завършена' %}
        Поръчката ви е успешно изпратена. Може да я очаквате на посочения адрес до
        няколко работни дни.
    {% elif order.status == 'Отказана' %}
        Поръчката ви е отказана. Очаквайте съвсем скоро обаждане от нашия екип за
        повече подробности.
    {% endif %}

{% endautoescape %}