{% extends 'includes/navbar.html' %}
{% load static %}

{% block page_content %}
    {% include 'includes/alerts.html' %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Блог</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Начало</a>
                            <span>Блог</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>МОДА</span>
                        <h2>Новите трендове в модата</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        {% for blog in blogs %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic set-bg"
                                         data-setbg="{{ blog.image.url }}"></div>
                                    <div class="blog__item__text">
                                        <span><img src="{% static 'img/icon/calendar.png' %}"
                                                   alt="">{{ blog.added_on }}</span>
                                        <h5>{{ blog.title }}</h5>
                                        <a href="{% url 'blog_details' blog.pk %}">Прочети повече</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}